<p class="title">Creación de Proyecto</p>
<form [formGroup]="projectForm" (ngSubmit)="submitForm()" class="form">
  <div class="form-field">
    <label for="code">Código del Proyecto</label>
    <input id="code" formControlName="code" />
  </div>

  <div class="form-field">
    <label for="name">Nombre del Proyecto</label>
    <input id="name" formControlName="name" />
  </div>

  <div class="form-field">
    <label for="description">Descripción</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>


  <div class="form-field">
    <label for="status">Estado</label>
    <select id="status" formControlName="status">
      <option value="ACTIVE">Activo</option>
      <option value="INACTIVE">Inactivo</option>
      <option value="PAUSED">Pausado</option>
    </select>
  </div>

  <div class="form-field">
    <label for="researchGroupId">Grupo de Investigación: </label>
    <select id="researchGroupId" formControlName="researchGroupId">
      <option *ngFor="let group of researchGroups" [value]="group.code">
        {{ group.name }}
      </option>
    </select>
  </div>

  <div>
    <h4>Miembros</h4>
    <button type="button" (click)="addMember()">Añadir Miembro</button>
    <div *ngFor="let member of members.controls; let i = index">
      <input [formControlName]="i" />
    </div>
  </div>

  <div>
    <h4>Evidencias</h4>
    <button type="button" (click)="addEvidence()">Añadir Evidencia</button>
    <div *ngFor="let evidence of evidences.controls; let i = index">
      <div [formGroupName]="i">
        <label for="description">Descripción</label>
        <input id="description" formControlName="description" />
        <label for="type">Tipo</label>
        <input id="type" formControlName="type" />
      </div>
    </div>
  </div>

  <button type="submit">Crear Proyecto</button>
</form>
