<p class="title">Creación de Proyecto</p>
<form [formGroup]="projectForm" (ngSubmit)="submitForm()" class="form">
  <div class="form-field">
    <label for="code">Código del Proyecto</label>
    <input id="code" formControlName="code" />
  </div>

  <div class="form-field">
    <label for="name">Nombre del Proyecto</label>
    <input id="name" formControlName="name" />
  </div>

  <div class="form-field">
    <label for="description">Descripción</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div class="form-field">
    <label for="status">Estado</label>
    <select id="status" formControlName="status">
      <option value="ACTIVE">Activo</option>
      <option value="INACTIVE">Inactivo</option>
      <option value="PAUSED">Pausado</option>
    </select>
  </div>

  <div class="form-field">
    <label for="researchGroupId">Grupo de Investigación</label>
    <select id="researchGroupId" formControlName="researchGroupId">
      <option *ngFor="let group of researchGroups" [value]="group">
        {{ group.name }}
      </option>
    </select>
  </div>

  <div>
    <h4>Miembros</h4>
    <button type="button" (click)="addMember()">Añadir Miembro</button>
    <div formArrayName="members">
      <div *ngFor="let member of members.controls; let i = index" [formGroupName]="i">
        <input placeholder="Nombre" formControlName="name" />
        <input placeholder="Correo" formControlName="email" />
      </div>
    </div>
  </div>

  <div>
    <h4>Evidencias</h4>
    <button type="button" (click)="addEvidence()">Añadir Evidencia</button>
    <div formArrayName="evidences">
      <div *ngFor="let evidence of evidences.controls; let i = index" [formGroupName]="i" class="evidance-card">
        <div class="evidance-input-div">
          <label>Descripción</label>
          <input formControlName="description" />
        </div>
        <div class="evidance-input-div">
          <label>Archivo</label>
          <input type="file" (change)="onFileChange($event, i)" />
        </div>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="state">
    <p *ngSwitchCase="'LOADING'" class="loading">Esperando respuesta.</p>
    <p *ngSwitchCase="'ERROR'" class="error">Error al crear el usuario: {{ errorMsg }}</p>
    <p *ngSwitchCase="'SUCCESS'" class="success">Usuario creado con éxito.</p>
  </ng-container>

  <button type="submit" [disabled]="projectForm.invalid">Crear Proyecto</button>
</form>
