
.login-form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
    background-color: var(--second-color-nigth-mode);
    border-radius: 10px;
    color: white !important
}
.login-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.login-field input{
    /* background-color: transparent; */
    border-radius: 3px;
    padding: 5px;
    /* color: var(--font-color-nigth-mode); */
}

.logo-login{
    max-height: 10rem;
}

label{
  color: white !important;
}

.title{
  color: white !important;
}

