.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Color de fondo */
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.floating-button i {
  pointer-events: none; /* Asegura que el clic esté solo en el botón */
}
