.register-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}


.form{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    margin-top: 1rem;
    background-color: var(--second-color-nigth-mode);
    border-radius: 10px;
}
.form-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
/* login */
.login-form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
    background-color: var(--second-color-nigth-mode);
    border-radius: 10px;
}
.login-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.login-field input{
    /* background-color: transparent; */
    border-radius: 3px;
    padding: 5px;
    /* color: var(--font-color-nigth-mode); */
}

.logo-login{
    max-height: 10rem;
}
