
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <p class="title">Creación de usuario</p>

  <input formControlName="name" placeholder="Nombres" required />
  <input formControlName="lastName" placeholder="Apellidos" required />
  <input formControlName="email" placeholder="Email" type="email" required />
  <input formControlName="password" placeholder="Contraseña" type="password" required />
  <input formControlName="studentCode" placeholder="Código estudiante" required />
  <input formControlName="docNum" placeholder="Numero documento" required />


  <select formControlName="docType">
    <option *ngFor="let type of documentTypeKeys" [value]="role">
      {{ type | documentTypeLabel }}
    </option>
  </select>

  <select formControlName="role">
    <option *ngFor="let role of roleKeys" [value]="role">
      {{ role | roleLabel }}
    </option>
  </select>

  <input formControlName="phone" placeholder="Numero telefonico" required />


  <input formControlName="researchGroupId" placeholder="Research Group ID" type="number" required />

  <select formControlName="status">
    <option value="ACTIVE">Activo</option>
    <option value="INACTIVE">Desactivo</option>
  </select>

  <button type="submit" [disabled]="form.invalid">Register</button>
</form>
