
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <p class="title">Creación de usuario</p>

  <input formControlName="name" placeholder="Nombres" required />
  <input formControlName="lastName" placeholder="Apellidos" required />
  <input formControlName="email" placeholder="Email" type="email" required />
  <input formControlName="password" placeholder="Contraseña" type="password" required />
  <input formControlName="studentCode" placeholder="Código estudiante" required />
  <input formControlName="docNum" placeholder="Numero documento" required />


  <select formControlName="docType">
    <option value="TI">Tarjeta de identidad</option>
    <option value="CC">Cedula de ciudadania</option>
    <option value="P">Pasaporte</option>
  </select>

  <input formControlName="docType" placeholder="Tipo de documento" required />
  <input formControlName="phone" placeholder="Numero contacto" required />

  <select formControlName="role">
    <option value="STUDENT">Student</option>
    <option value="TEACHER">Teacher</option>
    <option value="ADMIN">Admin</option>
  </select>

  <input formControlName="researchGroupId" placeholder="Research Group ID" type="number" required />

  <select formControlName="status">
    <option value="ACTIVE">Activo</option>
    <option value="INACTIVE">Desactivo</option>
  </select>

  <button type="submit" [disabled]="form.invalid">Register</button>
</form>
