<div class="list-container center column">
  <table>
    <thead>
      <tr>
        <th>N° Documento</th>
        <th>E-mail</th>
        <th>Nombre</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user._id) {
        <tr [routerLink]="['/users', user.email]">
          <td>{{ user.docNum }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.name }} {{ user.lastName }}</td>
          <td>{{ user.role | roleLabel}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
