<div class="content">
  <div class="card-detail">
    <div class="card-detail-img center">
        <img [src]="project?.image?.url || 'img/proyecto.png'" alt="">
    </div>


    <div class="card-content">
      <h1 class="card-title">{{ project?.name }}</h1>
      <div class="description">
        <p>{{ project?.description }}</p>
      </div>


      <div class="description">
        <p><b>Propietario:</b> {{ project?.owner?.email }}</p>
      </div>

      <div class="members">
        <h2>Miembros:</h2>
        @for(member of project?.members; track member){
          <div class="card-member">
              <h3>{{ member.name }}: {{ member.email }}</h3>
          </div>
        }
      </div>

      <div class="evidence">

        @for(evidence of project?.evidences; track evidence){
          <app-evidence-card [evidence]="evidence"></app-evidence-card>
        }


        @if(isOwner){
          <div class="card-add-evidence">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
          </div>
        }


      </div>

    </div>

  </div>
</div>
