<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <p class="title">Cambio de contraseña</p>

  <label for="password">Contraseña Actual</label>
  <input formControlName="password" placeholder="Contraseña" type="password" required id="password"/>
  <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">
    <small *ngIf="form.get('password')?.errors?.['required']">La contraseña es requerida.</small>
    <small *ngIf="form.get('password')?.errors?.['minlength']">Debe tener al menos 8 caracteres.</small>
    <small *ngIf="form.get('password')?.errors?.['pattern']">
    Debe contener al menos una mayúscula, una minúscula, un número y un carácter especial.
    </small>
  </div>



  <label for="password"> Nueva Contraseña</label>
  <input formControlName="password" placeholder="Contraseña" type="password" required id="password"/>
  <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">
    <small *ngIf="form.get('password')?.errors?.['required']">La contraseña es requerida.</small>
    <small *ngIf="form.get('password')?.errors?.['minlength']">Debe tener al menos 8 caracteres.</small>
    <small *ngIf="form.get('password')?.errors?.['pattern']">
    Debe contener al menos una mayúscula, una minúscula, un número y un carácter especial.
    </small>
    <small *ngIf="form.errors?.['passwordMismatch'] && form.touched">
    Las contraseñas no coinciden.
    </small>
  </div>
  @if (state === "LOADING"){
    <p class="loading">Esperando respuesta.</p>
  } @else if (state === "ERROR"){
    <p class="error">Error al actualizar contraseña.</p>
    <p class="error">{{ errorMsg }}</p>
  } @else if (state === "SUCCESS"){
    <p class="success">Se hizo el cambio de contraseña, serás redirigido a la anterior pantalla.</p>
  }

  @if (state === "FREE" || state === "SUCCESS" || state === "ERROR"){
    <button type="submit" [disabled]="form.invalid">Cambiar contraseña</button>
  }
</form>
