.form{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    margin-top: 1rem;
    background-color: var(--second-color-nigth-mode);
    border-radius: 10px;
}
.form-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
