/* You can add global styles to this file, and also import other style files */
:root{
    --main-color-nigth-mode: #121212;
    --main-color: #ffffff;
    --second-color-nigth-mode: #181819c5;
    --third-color-nigth-mode: #02376ce3;
    --fourth-color-nigth-mode:#737373c4;
    --font-color-nigth-mode: #fff;
    --font-color: #00478D;
}
*{
    font-family: Arial, sans-serif;
}
.transition{
    transition: all 0.3s ease-in-out;
}
html{
    height: 99%;
    width: 100%;
}
body, app-root, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--font-color);
}
body, app-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    /* height: 100%; */
    background-color: var(--main-color);
    color: var(--font-color-nigth-mode)
}
body.nigth-mode, app-root.nigth-mode{
    background-color: var(--main-color-nigth-mode);
    color: var(--font-color-nigth-mode);
}
svg{
  fill: currentColor;
  color: var(--font-color);
}
app-root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
h1, h2, h3, h4, h5, h6{
    color: var(--font-color);
}

a{
    color: var(--font-color-nigth-mode);
    text-decoration: none;
}
a.a-type-2{
    color:#8f99f8;
}

.full-width{
    width: 100%;
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.logo{
    max-height: 100px;
    max-width: 80%;
}


.input-btn{
    background-color: var(--third-color-nigth-mode);
    color: var(--font-color-nigth-mode);
    padding: .5rem;
}

input, select{
    padding: 0.6rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.center{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.start{
    justify-content: start;
}


/* Content */
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100%;
}


.fullsize{
  width: 100vw;
  height: 100vh;
}

.dark-mode-bg{
  background-color: var(--main-color-nigth-mode);
}

/* list */
.list-container {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  color: #02376ce3;
  font-family: Arial, sans-serif;
  overflow-x: auto;
}

list-container > h2 {
  color: #02376ce3;
  margin-bottom: 1rem;
}

table {
  width: 80%;
  table-layout: fixed; /* 👈 Importante */
  border-collapse: collapse;
}

thead {
  background-color: #02376ce3;
  color: white;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
  max-width: 25%;         /* 👈 Limita el ancho */
  overflow: hidden;       /* 👈 Oculta desbordes */
  text-overflow: ellipsis; /* 👈 Agrega "..." si se pasa */
  white-space: wrap;    /* 👈 Evita que se parta en varias líneas */
}

tbody tr:hover {
  background-color: #f0f8ff;
}
