<div class="evidence-card">
  <div class="image-container">
    @if(isImage()){
      <img [src]="evidence.url" alt="evidence image" />
    }

    @if(isPdf()){
      <img src="img/pdf.png" alt="PDF icon" />
    }


    @if(isDocument()){
      <img src="/img/doc.png" alt="Document icon" />
    }

  </div>

  <div class="file-info">
    <strong>{{ evidence.type }}</strong>
    <p>{{ evidence.description }}</p>
    <p>{{ formatDate(evidence.creationDateTime) }}</p>
    @for(member of evidence.participants; track member){
      <div class="card-member">
          <h6>{{ member.name }}: {{ member.email }}</h6>
      </div>
    }
  </div>
</div>
