<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

    <div class="form-field column m-1">
      <label>Código *</label>
      <input formControlName="code" class="input" type="text" />
      <div class="error text-sm" *ngIf="hasError('code')">
        El código es obligatorio.
      </div>
    </div>

    <div class="form-field column m-1">
      <label>Nombre *</label>
      <input formControlName="name" type="text" />
      <div class="error text-sm" *ngIf="hasError('name')">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="form-field column m-1">
      <label>Descripción *</label>
      <textarea formControlName="description"></textarea>
      <div class="error text-sm" *ngIf="hasError('description')">
        La descripción es obligatoria.
      </div>
    </div>

    <!-- <div class="form-field column m-1">
      <label class="block text-sm font-medium">Facultad</label>
      <input formControlName="faculty" class="input" type="text" />
    </div> -->

    <!-- <div class="form-field column m-1">
      <label class="block text-sm font-medium">Email de contacto</label>
      <input formControlName="contactEmail" class="input" type="email" />
      <div class="text-red-500 text-sm" *ngIf="hasError('contactEmail')">
        Debe ser un email válido.
      </div>
    </div> -->


  <button type="submit" class="btn btn-primary mt-4">Guardar</button>
</form>
